/*
#background{
background-repeat: no-repeat;
height: 100%;
background-attachment: fixed;
background-position: center;
background-size: contain;
}

#login{

background-repeat: no-repeat;
height: 100%;
background-attachment: fixed;
background-position: center;
background-size: contain;
}

#employee{

background-repeat: no-repeat;
height: 100%;
background-attachment: fixed;
background-position: center;
background-size: contain;
}

#owner{

background-repeat: no-repeat;
height: 100%;
background-attachment: fixed;
background-position: center;
background-size: contain;
}

#customer{

background-repeat: no-repeat;
height: 100%;
background-attachment: fixed;
background-position: center;
background-size: contain;
}
*/
